<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\Learning Start\data\TournamentTracker"/>
		<add key="greaterWins" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=KSHITIZ;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>